h1 {
    color:rgb(255, 255, 255);
    text-align:center;
}
h2 {
    color:rgb(255, 255, 255);
    text-align:center;
}

body {
    background: url(githubbackground.jpeg);
}

img {
width:50%;
outline: 4px dotted black;
}